@import url('vars.css');
@import url('font.css');
html {
    font-size: 16px;
}
.wrapper {
    background-color: var(--gray-color);
}

.wrapper-header {
    background-color: var(--beige-color);
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
}

.masthead {
    text-align: center;
}


.masthead,
.moto,
.product {
    min-width: 320px;
    max-width: 1554px;
    width: 85%; 
    margin: 0 auto;
}

.wrapper-header:after,
.product-wrapper:after,
.product-wrapper:before  {
    display: inline-block;
    content: ' ';
    height: 23px;
    width: 100%;
    background-image: url(../img/wave.png);
    background-repeat: repeat;
    position: absolute;
    left: 0;
}
.wrapper-header:after,
.product-wrapper:after {
    bottom: -23px;
}
.product-wrapper:before {
    transform: rotate(180deg);
    top: -23px;
}
.logo {
    display: inline-block;
    margin-bottom: 20px;
}
.nav {
    display: none;
}

.nav-item {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: -1px;
    color: var(--main-font-color);
    padding-bottom: 10px;
    border-bottom: 1px solid none;
}
.nav-item:hover {
    color: var(--pink-color);
}

.nav-item:first-child {
    color:var(--pink-color);
    border-bottom: 1px solid var(--pink-color);
}

.phone-number {
    display: flex;
    justify-content: space-between;
}
.phone-number a {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    display: inline-block;
    text-decoration: none;
    font-size: 0.8125rem;
    color: var(--main-font-color);
    cursor: pointer;
}

.phone-number span {
    color: var(--light-gray-color);
}
.main-content {
    text-align: center;
}

.product-wrapper {
    position: relative;
}
.moto-wrapper {
    padding-bottom: 20px;
    background-color:  var(--gray-color);
}
.moto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 30px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moto-title {
    order: -3;
    font-family: 'BebasNeuewe';
    text-transform: uppercase;
    font-size: 1.375rem;
    color: #333333;
    margin-bottom: 30px;
}

.image-desktop {
    display: none;
}
.moto-title > span {
    color: var(--pink-color);
}

.moto-text {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
    text-align: center;
    word-spacing: 3px;
    font-size: 0.875rem;
    line-height: 24px;
}
.moto-images {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.image-mobile {
    order:-2;
}

.price-photo {
    position: absolute;
    top: -20px;
    left: -30px;
}

.link-order {
    display: inline-block;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    background-color: var( --pink-button-color);
    color: var(--white-color);
    height: 45px;
    padding-left: 28px;
    padding-right: 28px;
    border-bottom: 3px solid var(--purple-color);
}
.link-order:hover {
    border-bottom: 3px solid none;
}
.link {
    order: -2;
    margin-bottom: 30px;
}

.link-order > span {
    font-family: "GothamProBold", Arial, Helvetica, sans-serif;
}
.product-wrapper{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--beige-color);    
}

.product-title {
    font-family: "GothamProBold", Arial, Helvetica, sans-serif;
    text-align: center;
    flex: 1 1 100%;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: var(--pink-color);
    margin-bottom: 25px;
}

.product-info img {
    height: 140px;
    margin-bottom: 25px;
}


.product-descr {
    font-family: "GothamPro", Arial, Helvetica, sans-serif;
   text-align: center;
    margin-bottom: 40px;
    line-height: 24px;
    color: var(--main-font-color);
}
.product-descr span {
    font-family: "GothamProBold";
}
@media (min-width:768px) {
    .wrapper-header {
        padding-bottom: 25px;
    }
    .masthead {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .phone-number {
        flex-direction: column;
    }

    .phone-number a:first-child{
        margin-bottom: 20px;
    }

    .phone-number a {
        position: relative;
    }
    .phone-number a:before {
        content: ' ';
        display: inline-block;
        background-image: url(../img/phone-call.png);
        height: 18px;
        width: 20px;
        position: absolute;
        left: -30px;
        transform: (translateY(-50%));
        background-repeat: no-repeat;
    }
    .logo{
        margin-bottom: 0;
    }

     .nav {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        flex-basis: 100%;
  }
    .moto-wrapper {
        background-color: var(--green-color);
    }


    .moto {
        flex-direction: row; 
    }
    .text-wrapper {
        flex-basis: 50%;
        align-items: flex-start;
    }
    .moto-title {
        margin-bottom: 60px;
        font-size: 2.25rem;
        text-align: left;
    }
    .moto-text {
        line-height: 1.625rem;
        text-align: left;
        max-width: 65%;
        margin-bottom: 60px;
    }
   .image-mobile { 
       display: none;
   }

   .image-desktop {
       display: inline-block;
   }
    .product-info {
        display: flex;
    }

    .moto-text,
    .link,
    .moto-images {
        order: 0;
    }
   
    .moto-wrapper {
        padding-top: 20px;  
    }

    .image-wrapper {
        flex-basis: 25%;
        margin-right: auto;
        margin-bottom: 0;
        align-self: center;
    }

    .product-info img {
        display: block;
        width: 100%;
        height: auto;
        }

    .product-title {
            font-size: 1.75rem;
        }
    .product-descr-wrapper {
        flex-basis: 65%;
        padding-top: 40px;
    }

    .product-descr {
         font-family: "GothamPro", Arial, Helvetica, sans-serif;
        text-align: left;
        line-height: 36px;
    }

    .product-descr-wrapper a {
         text-align: center;
        }
}
@media(min-width:1024px) {
    .moto-title {
        margin-bottom: 60px;
        
        font-size: 2.20rem;
    }
    .moto-wrapper {
        background-image: url('../img/woman-bg.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 520px;
    }
}
@media(min-width:1200px) {
    .moto-wrapper {
        background-size: 600px;
}

@media (min-width: 1540px) {
    .masthead {
        align-items: center;
    }
    .logo {
        order: -1;;
    }
    .nav {
        flex-basis: 50%;
        order: -1;
        margin-top: 0;
    }
    .moto-wrapper {
        background-size: 700px;
    }

    .moto-text {
        text-align: center;
        line-height: 2.25rem;
    }
    
    .product {
        padding-bottom: 120px;
        background-image: url(../img/lypstick.png);
        background-repeat: no-repeat;
        background-position: bottom right;

    }
    .product-title {
        font-size: 3rem ;
    }

    .product-descr-wrapper {
        flex-basis: 57%;
    }

    .image-wrapper {
        margin-right: 4.5%;
    }
    .product-descr {
        margin-bottom: 70px;
    }

    .link {
        margin-left: 10%;
    }
}
