:root {
    --grey-color: #f1f1f1;
    --beige-color: #f1eae8;
    --main-font-color: #333333;
    --pink-color: #d4416a;
    --pink-button-color: #cf4068;
    --white-color: #ffffff;
    --green-color: #e1e3d6;
    --purple-color:#800080;
}